body{
   background:transparent url("../img/cargando.gif") center  center
   no-repeat;
}

nav ul {
  list-style: none;
}

nav ul li{
}

nav ul li a{
  text-decoration: none;

}

.btn-sign{

}

img{
   border-radius: 15px;
}

btn
